body {
  background: #fff;
}
.mainSection {
  width: 80%;
  padding: 130px 50px 70px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  color: #495057;
  font-size: 14px;
}

.mainSection img {
  width: 50%;
  height: 50vh;
  /* border: 1px solid green; */
}

.formcontainer {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
  transition: all 0.5s;
}

.formcontainer h2,
.formcontainer h3 {
  color: #705ecf;
  margin: 0px;
}

.formcontainer form{
  margin-top: 15px;
}

.formcontainer p{
  margin-top: 1.5rem;
}

.link{
  color: #705ecf;
}

.formcontainer:hover{
  transform: scale(1.05);
  transition: all 0.5s;
}

