.primary {
  color: white;
  background: #705ecf;
  border: 2px solid #705ecf;
}

.primary:hover {
  color: white;
  background: #705ecf;
  opacity: .8;
  transition: all 0.5s;
  transform: scale(0.97);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.secondary {
  color: #ffffff;
  background: #36c7a8;
  border: 2px solid #36c7a8;
}

.secondary:hover {
  color: #ffffff;
  background: #36c7a8;
  opacity: .8;
  transition: all 0.5s;
  transform: scale(0.97);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button {
  padding: 10px 25px;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}
