.navContainer {
  height: 100%;
  width: 15%;
  /* border: 1px solid green; */
  box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
  text-align: left;
}

.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid greenyellow; */
  height: 100%;
}

.navItems {
  /* border: 1px solid purple; */
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  padding-top: 50px;
  margin: 0px;
}

.logoutUl {
  /* border: 1px solid orangered; */
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.navItem {
  color: black;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid black; */
  width: 100%;
  padding: 10px 0px 10px 50px;
  margin: 4px 0px;
}

.navItem i{
    margin-right: 16px;
}

.navItem:hover,
.navItem:active {
  background: rgb(239, 236, 253);
  border-left: 7px solid #d32d60;
  transition: all 0.5s;
  color: #d32d60;
  font-weight: 700;
}

.logout {
  color: black;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid brown; */
  width: 100%;
  padding: 10px 0px 10px 50px;
  margin: 20px 0px;
}

.logout i{
    margin-right: 16px;
}

.logout:hover {
  background: rgb(239, 236, 253);
  border-left: 7px solid #d32d60;
  transition: all 0.5s;
  color: #d32d60;
  font-weight: 700;
}


.icon{
    width: 100px;
    height: 100px;
    color: #d32d60;
}